* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* background-color: #a6b8bd; */


html,
body {

   width: 100%;
   height: 100%;
   /* color: #fff; */
   scroll-behavior: smooth;
   font-family: 'acme';
}

.main {
   width: 100%;
   /* position: relative; */
   /* background-color: aqua; */

}


.nav {
   width: 60%;
   height: 8vh;
   color: #fff;
   /* position: fixed; */

   /* background-color: #dadada; */
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 10px 5px;
   border-bottom: solid 1px #7d7b7b;
   border-radius: 50px;
   margin: auto;
   /* margin-top: 10px; */
   box-shadow: 0px 0px 15px #6f6c6c;

}

/* .background .nav{
   
   /* margin-top: 10px; */




.nav-right {
   display: flex;
   align-items: center;
   gap: 50px;

}

.nav-right a {
   text-decoration: none;
   color: #cbdbde;


}


.nav-right a:hover {
   text-decoration: none;
   color: #cacf89;


}


.nav-right h5 {
   text-transform: uppercase;
   font-family: 'acme';
   font-size: 1.2vw;


}

.nav-right h5:hover {
   border-bottom: 1px solid #7d7b7b;
   cursor: pointer;
   transition: 0.4s;
   /* color:#cbdbde; */

}


.unique {
   margin-top: -15px;
   margin-bottom: 50px;
   color: #c79603;
   font-family: 'sunshine';
   font-weight: 600;
   letter-spacing: 3px;
   font-size: 14vw;
}

.disc2 {
   color: #cbdbde;

   font-weight: 200;
   letter-spacing: 3px;
   font-size: 2vw;
   margin-bottom: 20px;
}

.social-links {
   display: flex;
   gap: 50px;
   align-items: center;
   color: #cbdbde;
   margin-top: 50px;
   font-weight: 300;
   letter-spacing: 3px;
   font-size: 2.5vw;



   /* box-shadow: 0 0 15px rgb(149, 226, 235); */
}

.links {
   padding: 3.5px 8px;
   color: #cbdbde;
   text-decoration: none;
   box-shadow: 0 0 65px #fff,
      0 0 8px #fff,
      0 0 8px #fff,
      0 0 21px #0fa,
      0 0 20px #0fa,
      0 0 20px #0fa,
      0 0 10px #0fa,
      0 0 12px #0fa;
   border-radius: 50%;
}

.centre {
   margin-top: 250px;
   margin-bottom: 250px;
   /* margin: auto 0; */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.centre h4 {
   font-size: 2vw;
   margin-top: 10px;
}


.background {
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


.centre .disc1 {
   position: absolute;
   left: 210px;
   top: 260px;
   color: #cbdbde;
   letter-spacing: 5px;
   font-size: 2.5vw;
}






/* section 2 */

.section-2 {
   /* height: 100vh; */
   min-height: 100vh;
   width: 100%;
   background-color: rgb(31, 43, 54);
}

.scroller {
   height: 250px;
   width: 250px;
   color: #fff;
   padding: 1vw 1vw;
   position: fixed;
   background-color: #658590;
   border-radius: 50%;
   font-size: 1.3vw;
   text-transform: uppercase;
   opacity: 0;
   scale: 0;
   z-index: 1;




}


.about {
   height: 50vh;
   width: 90%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 10%);
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* margin-top: 20px; */
   padding: 3vw 2vw;
   /* border: 1px solid #000; */
   box-shadow: 2px 0px 15px #000;
   border-radius: 15px;
   z-index: 2;


}

.img {
   height: 100%;
   width: 50%;
   margin-top: 20px;
   padding-left: 80px;

}

.img img {
   height: 370px;


}


.info {
   height: 100%;
   width: 50%;
   text-align: left;
   font: 500;
   font-size: 1.8vw;
   /* margin-top: 20px; */
   margin-bottom: 30px;

}

.info .text {

   font-weight: 200;
   font-size: 1.5vw;
   color: #fff;

}



.about-header h2,
h4 {
   margin-bottom: 10px;
   color: #cacf89;


}

/* skills section needs to be modify*/


.skills-section {
   height: 50vh;
   width: 90%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 10%);
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 3vw 5vw;
   box-shadow: 2px 0px 15px #000;
   border-radius: 15px;
   margin-top: 50px;
   margin-bottom: 50px;



}


.skills-header h2,
h4 {
   margin-bottom: 10px;
   color: #cacf89;


}

.skills-img {
   position: relative;
   /* top: 50%;
   left:50%;
   transform: translate(-50%,-50%);  */
   height: 100%;
   width: 50%;
   /* margin-top: 20px; */
   /* padding-left: 80px; */

}

.skills-img img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 42vh;
   border-radius: 30px;
   /* margin-top: 20px; */
   /* padding-left: 80px; */

}

.list-items li {

   font-weight: 200;
   font-size: 2.0vw;
   color: #fff;
   margin: 5px 0px;
   /* margin-bottom: 20px; */

}
.list-items{
   margin-bottom: 200px;
}


/* project-section */
/* article {
   --img-scale: 1.001;
   --title-color: black;
   --link-icon-translate: -20px;
   --link-icon-opacity: 0;
   position: relative;
   border-radius: 16px;
   box-shadow: none;
   background: #fff;
   transform-origin: center;
   transition: all 0.4s ease-in-out;
   overflow: hidden;
 }
 
 article a::after {
   position: absolute;
   inset-block: 0;
   inset-inline: 0;
   cursor: pointer;
   content: "";
 }
  */
 /* basic article elements styling */
 article h2 {
   margin: 0 0 18px 0;
   /* font-family: "Bebas Neue", cursive; */
   font-size: 1.9rem;
   letter-spacing: 0.06em;
   color: var(--title-color);
   transition: color 0.3s ease-out;
 }
 
 figure {
   object-fit: cover;
   margin: 0;
   padding: 0;
   /* aspect-ratio: 16 / 9; */
   overflow: hidden;
   border-radius: 15px;

 }
 
 article img {
   /* object-fit: cover;
   object-position: center;
   overflow: hidden; */
   max-width: 100%;
  
   transform-origin: center;
   transform: scale(var(--img-scale));
   transition: transform 0.4s ease-in-out;
   /* border-radius: 15px; */
 }
 
 .article-body {
   padding: 24px;
   
 }
 
 article a {
   margin-top: 10px;
   display: inline-flex;
   align-items: center;
   text-decoration: none;
   color: #cacf89;
 }
 
 article a:focus {
   outline: 1px dotted #28666e;
 }
 
 article a .icon {
   min-width: 24px;
   width: 24px;
   height: 24px;
   margin-left: 5px;
   transform: translateX(var(--link-icon-translate));
   opacity: var(--link-icon-opacity);
   transition: all 0.3s;
 }
 
 /* using the has() relational pseudo selector to update our custom properties */
 article:has(:hover, :focus) {
   --img-scale: 1.1;
   --title-color: #cacf89;
   --link-icon-translate: 0;
   --link-icon-opacity: 1;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 }
 
 
 /************************ 
 Generic layout (demo looks)
 **************************/
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* body {
   margin: 0;
   padding: 48px 0;
   font-family: "Figtree", sans-serif;
   font-size: 1.2rem;
   line-height: 1.6rem;
   background-image: linear-gradient(45deg, #7c9885, #b5b682);
   min-height: 100vh;
 }
  */
 .articles {
   /* display: grid; */
   /* max-width: 1200px; */
   /* margin-inline: auto; */
   padding-inline: 24px;
   /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
   gap: 24px;
   height: 55vh;
   width: 90%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 10%);
   display: flex;
   align-items: center;
   gap: 15px;
   justify-content: space-around;
   padding: 3vw 5vw;
   box-shadow: 2px 0px 15px #000;
   border-radius: 15px;
   margin-top: 50px;
   margin-bottom: 110px;

 }
 
 @media screen and (max-width: 960px) {
   article {
     container: card/inline-size;
   }
   .article-body p {
     display: none;
   }
 }
/*  
 @container card (min-width: 380px) {
   .article-wrapper {
     display: grid;
     grid-template-columns: 100px 1fr;
     gap: 16px;
   }
   .article-body {
     padding-left: 0;
   }
   figure {
     width: 100%;
     height: 100%;
     overflow: hidden;
   }
   figure img {
     height: 100%;
     aspect-ratio: 1;
     object-fit: cover;
   }
 }
  */
 .sr-only:not(:focus):not(:active) {
   clip: rect(0 0 0 0); 
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap; 
   width: 1px;
 }
/* 
.project-section {
   height: 55vh;
   width: 90%;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 10%);
   display: flex;
   align-items: center;
   gap: 15px;
   justify-content: space-around;
   padding: 3vw 5vw;
   box-shadow: 2px 0px 15px #000;
   border-radius: 15px;
   margin-top: 50px;
   margin-bottom: 50px;



} */
/* 
.elem {

   height: 40vh;
   width: 25vw;
   background-color: #fff;
   border-radius: 20px;

} */
/* 
.elem a img{

   height: 40vh;
   width: 25vw;
   /* background-color: #fff; */
   /* border-radius: 20px; */
   

/* } */
*/
/* 
.project-section h1{
   /* display: block; */
  /* color: #cacf89;
  font-size: 2.1vw;
  margin: 6vh .8vw; */
  /* padding: 10px; */
  /* text-transform: uppercase; */

/* } */ */



/* contact form section */


.contact-section {
   height: 80vh;
   width: 90%;
   /* position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 10%); */
   display: flex;
   align-items: center;
   gap: 15px;
   justify-content: space-between;
   padding: 3vw 5vw;
   box-shadow: 2px 0px 15px #000;
   border-radius: 15px;
   /* margin-top: 50px; */
   margin-bottom: 50px;



}


.contact-me {
   /* display: flex;
   align-items: center; */
   height: 55vh;
   width: 50%;
   border: 1px solid gray;
   /* background-color:#fff ; */
   border-radius: 20px;
   /* box-shadow: 0 0 15px #080808; */

}

.contact-me h1{
   /* display: inline; */
  color: #cacf89;
  font-size: 2.3vw;
  margin: 6vh 3vw;
  /* padding: 10px; */

}

.contact-details {
   
   margin: 2vw auto;
   /* padding: 10px; */
 
 }

 .contact-details h2{
   
   font-family: inherit;
   /* color: blueviolet; */
   color: #cbdbde;
 
 }

.contact-details i{
   display: block;
   color: whitesmoke;
   font-family: inherit;
   margin: 2vh 3vw;
   /* padding: 10px; */
 
 }


.icons{
 
   font-size: 30px;
   margin-top: 7vw;
   margin-bottom: 2vw;
   margin-left: 1.5vw;


}


.icons a{
   text-decoration: none;
   color: #cbdbde;
   font-size: 30px;
   margin-top: 13vw;
   margin-left: 1.5vw;


}


.icons-hover:hover{
   text-decoration: none;
   color: #c79603;
   


}





.contact-form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 55vh;
   width: 45%;
   /* background-color: #fff; */
   border: 1px solid gray;
   border-radius: 20px;
   box-shadow: 0 0 15px #080808;

}

.contact-form input {
   /* display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; */
   height: 5vh;
   width: 80%;
   font-size: 18px;
   padding: 2vw 3vw;
   /* margin: 2vh auto; */
   margin-top: 20px;
   margin-left: 2vw;
   /* background-color:#fff ; */
   border-radius: 50px;
   box-flex-group: whitesmoke;
   outline: none;
   border: none;

}



.contact-form textarea {
   /* display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; */
   height: 18vh;
   width: 60%;
   padding: 2vw 3vw;
   font-size: 14px;
   margin-top: 20px;
   margin-left: 3vw;
   border-radius: 20px;
   /* border: none; */
   outline: none;
   /* box-shadow: 2px 2px 15px rgb(235, 232, 232); */
   /* margin: 1vh auto; */
   /* background-color:#fff ; */
   /* border-radius: 50px; */

}

.contact-form button {
   /* display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; */
   height: 5vh;
   width: 80%;
   padding: 2vw 3vw;
   font-size: 18px;
   /* margin: 2vh auto; */
   margin-top: 20px;
   margin-left: 2vw;
   margin-bottom: 10px;
   background-color:#c79603 ;
   border-radius: 50px;
   /* box-flex-group: whitesmoke; */
   outline: none;
   border: none;
   cursor: pointer;
   transition: 1.3 ease;

}

button i{
color: #23221f;
  font-size: 16px;
  margin-right: 5px;
}



button:hover{
   background-color: #eeb610;
     /* font-size: 20px; */
     /* color: whitesmoke; */
     /* margin-right: 5px; */
   }